.about-section,
.about-bottom-section {
  padding-left: 20px;
}
.about-page-body {
  margin-top: 25px;
  padding: 25px;
  border-top: 1px dashed black;
}

.about-page-body section {
  display: flex;
  margin-bottom: 40px;
}
.about-page-body section article {
  padding-bottom: 30px;
  border-bottom: 1px dashed black;
}

.about-page-body section article:first-child {
  margin-right: 15px;
}

.about-page-body section article:nth-child(2) {
  margin-left: 15px;
}
.about-page-body section article h2 {
  margin-top: 10px;
}
.about-page-body section article p {
  margin-bottom: 25px;
}
.about-page-body section article .learn-more {
  text-decoration: none;
  color: #444;
  background: white;
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 4px;
}

.about-bottom-section {
  margin-bottom: 30px;
}

/* Media Queries */
@media only screen and (max-width: 934px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}
@media only screen and (max-width: 530px) {
  .about-page-body {
    padding: 10px;
  }
  .about-page-body section {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .about-page-body section article {
    padding-bottom: 30px;
    border-bottom: 1px dashed black;
    margin-bottom: 20px;
  }
  .about-page-body section article img {
    width: 100%;
  }

  .about-page-body section article:first-child {
    margin: 0px;
  }

  .about-page-body section article:nth-child(2) {
    margin: 0px;
  }
  .about-page-body section article h2 {
    margin-top: 10px;
  }
  .about-page-body section article p {
    margin-bottom: 25px;
  }
  .about-page-body section article .learn-more {
    display: block;
    width: 100%;
    text-align: center;
  }
}
